body
{	
 	background-color: lavender;
	border: 5px solid #8D6EAD;
	width: 300px;
	margin-left:640px;
	margin-top: 170px;
	margin-bottom: 170px;
	background: linear-gradient(45deg, #F8CEEC 30%, #A88BEB) 
   	
}
  
.image 
{
	position: absolute;
	background-repeat: no-repeat;
	width: 300px;
	position: center top;
	bottom: 520px;

}

.headerText1
{
	text-align: center;
	bottom: 540px; 
	left: 673px; 
	font-size: 35px;
	color: #8D6EAD;
	font-size: 60px;
	text-decoration-line: underline;
  	text-decoration-color: #644E79;
	font-family: "Courier New";
	position: absolute;
	

}

.MakeAcc
{
	color: #644E79;
	font-size: 22px;
	width: 300px;
}

.WhiteSpace
{
	position: absolute;
	color: #644E79;
	border: 150px solid white;
	height: 107px;
	background-color:white;
	font-size: 20.54px;
}

