body
{	
 	background-color: lavender;
	border: 5px solid #8D6EAD;
	width: 300px;
	margin-left:640px;
	margin-top: 170px;
	margin-bottom: 170px;
   	/*background: -webkit-linear-gradient(110deg, #ffc608 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #000 66%);*/
}
  
.image 
{
	position: absolute;
	background-repeat: no-repeat;
	width: 300px;
	position: center top;
	bottom: 520px;

}

.headerText1
{
	text-align: center;
	bottom: 540px; 
	left: 673px; 
	font-size: 35px;
	color: #8D6EAD;
	font-size: 60px;
	text-decoration-line: underline;
  	text-decoration-color: #644E79;
	font-family: "Courier New";
	position: absolute;
	

}

.LogIn
{
	position: absolute;
	color: #644E79;
	border: 5px solid white;
	background-color:white;
	font-size: 20.54px;
	
}

