body
{	
	
	background-color: lavender;
 	border: 5px solid green;
	position: absolute;
	width: 300px;
	right: 650px;
	
}

.image 
{
	position: absolute;
	background-repeat: no-repeat;
	width: 300px;
	position: center top;
	margin-left: 640px;
	margin-bottom: 1900px;

}

.headerText1
{
	text-align: center;
	margin-left: 635px;
	height: 400px;
	width: 300px;
	margin-top: 100px;   
	font-size: 35px;
	color: #8D6EAD;
	font-size: 60px;
	text-decoration-line: underline;
  	text-decoration-color: #644E79;
	font-family: "Courier New";
	position: absolute;
	

}

.LogIn
{
	margin-left: 655px;
	margin-top: 200px;
	
	





}











